--prefer-binary

fastapi
uvicorn
pydantic
python-multipart
langdetect
python-Levenshtein

# Whisper (CPU-only)
git+https://github.com/openai/whisper.git

# Torch CPU version (légère)
torch>=2.0.0,<2.8.0