# Serveur FastAPI + dépendances backend
fastapi
uvicorn
pydantic
python-multipart
langdetect
python-Levenshtein
gTTS

# Whisper (version CPU uniquement)
git+https://github.com/openai/whisper.git

# Torch compatible CPU (important !)
torch==2.0.1+cpu --index-url https://download.pytorch.org/whl/cpu
